<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vnnative" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vn Native 2</name>
    <description>
        Vn Native Framework
    </description>
    <author email="hoang.le.tn91@gmail.com" href="">
        hoang.le.tn91@gmail.com
    </author>
    <content src="http://localhost:9001" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <hook type="before_run" src="hooks/run.js"/>
    <hook type="before_build" src="hooks/build.js"/>
    <hook type="after_run" src="hooks/after_run.js"/>
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />

        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>

        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
